@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline {
      -webkit-text-stroke: .5px black;
    }
    .font-outline-off-white {
      -webkit-text-stroke: .3px #EDE9E9;
    }
    .font-outline-2 {
      -webkit-text-stroke: 2px black;
    }
  }